<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rappels d'événements</title>

    <link rel="stylesheet" href="<%= config.apis.mapbox_gl.css_url %>">
</head>
<body>
    <div id="map"></div>

    <div id="rightSide">

        <div class="new_event">
            <h1>Rappel d'événements</h1>

            <h2>Nouveau rappel</h2>

            <form action="" id="formEvent">

                <div id="infosForm">

                    <div class="input" id="title">
                        <label for="eventTitle">Titre</label>
                        <input type="text"
                               name="event_title"
                               id="eventTitle"
                               placeholder="Maximum 25 caractères"
                               maxlength="25"
                               required
                        >
                    </div>

                    <div class="input"  id="description">
                        <label for="eventDesc">Description</label>
                        <textarea name="event_desc"
                                  id="eventDesc"
                                  placeholder="Maximum 250 caractères"
                                  maxlength="250"
                                  required
                        ></textarea>
                    </div>

                </div>

                <div id="datesForm">

                    <div class="input" id="dateStart">
                        <label for="eventStart">Date de début</label>
                        <input type="datetime-local"
                               name="event_start"
                               id="eventStart"
                               required
                        >
                    </div>

                    <!--TODO si checkbox coché enlever date de fin-->
                    <div class="input check"  id="allDayCheck">
                        <input type="checkbox"
                               name="event_all_day"
                               id="eventAllDay"
                        >
                        <label for="eventAllDay"> Journée entière</label>
                    </div>

                    <div class="input" id="dateEnd">
                        <label for="eventEnd">Date de fin</label>
                        <input type="datetime-local"
                               name="event_end"
                               id="eventEnd"
                               required
                        >
                    </div>

                </div>

                <div id="positionForm">

                    <div class="input" id="latitude">
                        <label for="eventLat">Latitude</label>
                        <input type="number"
                               name="event_lat"
                               id="eventLat"
                               min="-90"
                               max="90"
                               step="0.0000001"
                               required
                        >
                    </div>

                    <div class="input" id="longitude">
                        <label for="eventLng">Longitude</label>
                        <input type="number"
                               name="event_lng"
                               id="eventLng"
                               min="-180"
                               max="180"
                               step="0.0000001"
                               required
                        >
                    </div>
                    <button type="button" id="selectPos">Choisir sur la carte</button>

                </div>

                <button type="submit">Ajouter</button>

            </form>
        </div>

        <button type="button" id="deleteAll">Supprimer tous les événements</button>

    </div>
</body>
</html>